

<div id="Teacher">
    <div class="container rounded text-center nib">
        <div class="card">
            <div class="card-header">
                <h3>New session settings</h3>
            </div>
            <div class="card-body">
                <input id="lessonNameText" type="text" class="form-control" placeholder="Lesson about?">
                <br>
                <button type="button"  class="btn btn-primary btn-lg" id="mkLesson" onClick="mkLesson();">Create</button>
                {{!-- <div id="JoinTpre"><br>
                    <div class="alert alert-warning" role="alert">
                        Your session is being created...
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
    <br>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var roomID;
    window.onload = function() {
        roomID = generateRoomKey(4);
        console.log('RoomID:  '+roomID)
    };

    var socket = io.connect('http://localhost:3008');


    var input = document.getElementById("lessonNameText");
    input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("mkLesson").click();
        }
    });
    function mkLesson(){
        console.log('TESTING')
        if(input.value == ""){
            alert("Please enter a topic.");
            return;
        }
        var dataForServer ={}
        dataForServer.user      = 'leader'
        dataForServer.subject   = document.getElementById("lessonNameText").value
        dataForServer.msg       = 'I want to make a new session here'
        dataForServer.roomID    = roomID

        socket.emit('createRoom', dataForServer) 
        localStorage.setItem('sessionID',roomID)
        localStorage.setItem('sessionTopic',input.value)
        localStorage.setItem('userID',dataForServer.user)

        setTimeout(
            function(){
                socket.emit('getRooms', 'testing')
                console.log(socket.id)
                window.location.href = `/session`;
            }
        ,2000)
        //JSON.stringify({ job: "makeLesson", lessonId: $("#GamePinTxt").val(), lessonData: { Teams: $('#Teams').val(), Lesson: $("#lessonNameText").val().toLowerCase(), lessonId: $("#GamePinTxt").val() } }));
    }

    function generateRoomKey(length){
        var result           = '';
        var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) { 
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
    }
    
</script>