	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin error -->
		<div class="error">
			<div class="error-code m-b-10">404</div>
			<div class="error-content">
				<div class="error-message">The file or page no longer exists...</div>
				<div class="error-desc m-b-30">
					The page or file you are trying to get may have been moved or deleted. <br />
					Contact your administrator.
				</div>
				<div>
					<a href="/" class="btn btn-success p-l-20 p-r-20">Go Home</a>
				</div>
			</div>
		</div>
		<!-- end error -->
        
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>